<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details about <%= product.name  %> </title>
</head>
<body>
    <h1>Product is -- <%= product.name%></h1>
    <h2>Price of product is -- <%= product.price%></h2>
    <h2>Product category is <a href="/products?category=<%=product.category%>"><%=product.category%></a></h2>
    <h2><a href="/products">Back To all products</a></h2>
    <h2><a href="/products/<%=product._id%>/edit">Edit</a></h2>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>